# AI / LLM
langchain-mistralai
langchain
langgraph

# MCP
mcp

# ArmorIQ
armoriq-sdk==0.6.10

# Environment variables
python-dotenv

# MCP Gateway / Servers
fastapi
uvicorn
httpx

# Configuration / Validation
pydantic
pyyaml